logicapps/Notify-MDC-CWP-OutlookMail/Notify-MDC-CWP-OutlookMail-suppressed.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Notify-MDC-CWP-OutlookMail-suppressed",
            "type": "string"
        },
        "MLEmailAddress": {
            "type": "String",
            "metadata": {
                "description": "Enter value for MLEmailAddress"
            }
        },
        "AOAIURL": {
            "type": "String",
            "metadata": {
                "description": "Enter value for AOAIURL"
            }
        }
    },
    "variables": {
        "AscalertConnectionName": "[concat('Ascalert-', parameters('PlaybookName'))]",
        "Office365ConnectionName": "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "MLEmailAddress": {
                            "type": "String",
                            "defaultValue": "[parameters('MLEmailAddress')]"
                        },
                        "AOAIURL": {
                            "type": "String",
                            "defaultValue": "[parameters('AOAIURL')]"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Terminate": {
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Cancelled"
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "HTTP": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@parameters('AOAIURL')",
                                            "method": "POST",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": {
                                                "frequency_penalty": 2,
                                                "max_tokens": 1000,
                                                "messages": [
                                                    {
                                                        "content": "You are a Security Analyst.",
                                                        "role": "system"
                                                    },
                                                    {
                                                        "content": "Please translate in Japanese.",
                                                        "role": "user"
                                                    },
                                                    {
                                                        "content": "@{triggerBody()?['Description']}",
                                                        "role": "assistant"
                                                    }
                                                ],
                                                "stop": null,
                                                "temperature": 0
                                            },
                                            "authentication": {
                                                "audience": "https://cognitiveservices.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            }
                                        }
                                    },
                                    "HTTP_2": {
                                        "runAfter": {
                                            "HTTP": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@parameters('AOAIURL')",
                                            "method": "POST",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": {
                                                "frequency_penalty": 2,
                                                "max_tokens": 1000,
                                                "messages": [
                                                    {
                                                        "content": "You are a Security Analyst.",
                                                        "role": "system"
                                                    },
                                                    {
                                                        "content": "Please translate in 100 Japanese words. You need to explain to  non-security engineers.",
                                                        "role": "user"
                                                    },
                                                    {
                                                        "content": "@{triggerBody()?['RemediationSteps']?[0]}",
                                                        "role": "assistant"
                                                    }
                                                ],
                                                "stop": null,
                                                "temperature": 0
                                            },
                                            "authentication": {
                                                "audience": "https://cognitiveservices.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            }
                                        }
                                    },
                                    "HTTP_3": {
                                        "runAfter": {
                                            "HTTP_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@parameters('AOAIURL')",
                                            "method": "POST",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": {
                                                "frequency_penalty": 2,
                                                "max_tokens": 1000,
                                                "messages": [
                                                    {
                                                        "content": "You are a Security Analyst.",
                                                        "role": "system"
                                                    },
                                                    {
                                                        "content": "`Please suggest ideas how to resolve this issue in Japanese.",
                                                        "role": "user"
                                                    },
                                                    {
                                                        "content": "@{triggerBody()?['AlertDisplayName']},https://learn.microsoft.com/en-us/azure/defender-for-cloud/alerts-resource-manager",
                                                        "role": "assistant"
                                                    }
                                                ],
                                                "stop": null,
                                                "temperature": 0
                                            },
                                            "authentication": {
                                                "audience": "https://cognitiveservices.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['Status']",
                                            "Dismissed"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTMLBody": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HTMLbody",
                                        "type": "string",
                                        "value": "<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Security Policy alert</title>\n<style>\n  body { font-family: Arial, sans-serif; }\n  .header { background-color: #4CAF50; color: white; padding: 1px; text-align: center; }\n  .content { margin: 10px; padding: 10px; }\n  .footer { background-color: #f2f2f2; color: black; padding: 1px; text-align: center; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>Security Policy alert</h2>\n  </div>\n  <div class=\"content\">\n    <p>Microsoft Defender for Cloud で アラートを検知しました</p>\n    <table border=\"1\">\n      <tr>\n        <td width=\"150\"><strong>Detected Time</strong></td>\n        <td>@{triggerBody()?['TimeGenerated']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>アラート名</strong></td>\n        <td>@{triggerBody()?['AlertDisplayName']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>説明</strong></td>\n        <td>@{body('HTTP')?['choices'][0]['message']['content']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>修復方法</strong></td>\n        <td>@{body('HTTP_2')?['choices'][0]['message']['content']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>URL to Defender for Cloud</strong></td>\n        <td><a href=\"@{triggerBody()?['AlertUri']}\">CLICK</a></td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>検知 Defender 元</strong></td>\n        <td>@{triggerBody()?['ExtendedProperties']?['ProductComponentName']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>エンティティ種別</strong></td>\n        <td>@{triggerBody()?['ExtendedProperties']?['resourceType']}</td>\n      </tr>\n      <tr>\n       <td width=\"150\"><strong>リソースID</strong></td>\n        <td>@{triggerBody()?['ExtendedProperties']?['EffectiveAzureResourceId']}</td>\n      </tr>\n    </table>  \n  </div>\n  <div class=\"footer\">\n    <p>2024 XXXX Corporation</p>\n  </div>\n</body>\n</html>"
                                    }
                                ]
                            }
                        },
                        "メールの送信_(V2)": {
                            "runAfter": {
                                "HTMLBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@parameters('MLEmailAddress')",
                                    "Subject": "MDC アラート [重大度：@{triggerBody()?['Severity']}] [アラート名：@{triggerBody()?['AlertDisplayName']}]",
                                    "Body": "<p class=\"editor-paragraph\">@{variables('HTMLbody')}</p>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AscalertConnectionName'))]",
                                "connectionName": "[variables('AscalertConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascalert')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Notify-MDC-CWP-OutlookMail",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AscalertConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AscalertConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AscalertConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascalert')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('Office365ConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
