logicapps/Notify-MDC-CSPM-OutlookMail.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Notify-MDC-CSPM-OutlookMail",
            "type": "string"
        },
        "MLEmailAddress": {
            "type": "String",
            "metadata": {
                "description": "Enter value for MLEmailAddress"
            }
        },
        "AOAIURL": {
            "type": "String",
            "metadata": {
                "description": "Enter value for AOAIURL"
            }
        }
    },
    "variables": {
        "AscassessmentConnectionName": "[concat('Ascassessment-', parameters('PlaybookName'))]",
        "Office365ConnectionName": "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                        "defaultValue": {},
                        "type": "Object"
                    },
                    "MLEmailAddress": {
                        "defaultValue": "[parameters('MLEmailAddress')]",
                        "type": "String"
                    },
                    "AOAIURL": {
                        "defaultValue": "[parameters('AOAIURL')]",
                        "type": "String"
                    }
                },
                "triggers": {
                    "When_a_Microsoft_Defender_for_Cloud_recommendation_is_created_or_triggered": {
                        "type": "ApiConnectionWebhook",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['Ascassessment']['connectionId']"
                                }
                            },
                            "body": {
                                "callback_url": "@listCallbackUrl()"
                            },
                            "path": "/Microsoft.Security/Assessment/subscribe"
                        }
                    }
                },
                "actions": {
                    "HTMLBody": {
                        "runAfter": {
                            "Condition": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "HTMLBody",
                                    "type": "string",
                                    "value": "<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Security Policy alert</title>\n<style>\n  body { font-family: Arial, sans-serif; }\n  .header { background-color: #4CAF50; color: white; padding: 1px; text-align: center; }\n  .content { margin: 10px; padding: 10px; }\n  .footer { background-color: #f2f2f2; color: black; padding: 1px; text-align: center; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>Security Recommendations</h2>\n  </div>\n  <div class=\"content\">\n    <p><strong>Microsoft Defender for Cloud 推奨事項の異常</strong></p>\n    <table border=\"1\">\n      <tr>\n        <td width=\"150\"><strong>推奨事項</strong></td>\n        <td>@{triggerBody()?['properties']?['displayName']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>推奨事項の状態</strong></td>\n        <td>@{triggerBody()?['properties']?['status']?['code']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>推奨事項の重要度</strong></td>\n        <td>@{triggerBody()?['properties']?['metadata']?['severity']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>リスクレベル</strong></td>\n        <td>@{variables('risklevelresult')}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>リソースの詳細 ID</strong></td>\n        <td>@{triggerBody()?['properties']?['resourceDetails']?['id']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>推奨事項の説明</strong></td>\n        <td>@{body('HTTP')?['choices'][0]['message']['content']}</td>\n      </tr>\n      <tr>\n        <td width=\"150\"><strong>修復方法</strong></td>\n        <td>@{body('HTTP_1')?['choices'][0]['message']['content']}</td>\n      </tr>\n      <tr>\n      <tr>\n        <td width=\"150\"><strong>推奨事項の URL</strong></td>\n        <td><a href=\"@{concat('https://',triggerBody()?['properties']?['links']?['azurePortalUri'])}\">推奨事項の URL リンク</a></td>\n      </tr>\n    </table>  \n  </div>\n  <div class=\"footer\">\n    <p>2024 xxxx Corporation</p>\n  </div>\n</body>\n</html>"
                                }
                            ]
                        }
                    },
                    "メールの送信_(V2)": {
                        "runAfter": {
                            "HTMLBody": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@parameters('MLEmailAddress')",
                                "Subject": "MDC 推奨事項 [重要度: @{triggerBody()?['properties']?['metadata']?['severity']}] [推奨事項名: @{triggerBody()?['properties']?['displayName']}]",
                                "Body": "<p class=\"editor-paragraph\">@{variables('HTMLBody')}</p>",
                                "Importance": "High"
                            },
                            "path": "/v2/Mail"
                        }
                    },
                    "HTTP_1": {
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "@parameters('AOAIURL')",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "frequency_penalty": 2,
                                "max_tokens": 1000,
                                "messages": [
                                    {
                                        "content": "You are a Security Analyst.",
                                        "role": "system"
                                    },
                                    {
                                        "content": "You need to explain how to remediate this recommendation for  non-security engineers. Please explain in Japanese.The explanation format must be html without your comment.",
                                        "role": "user"
                                    },
                                    {
                                        "content": "@{triggerBody()?['properties']?['metadata']?['remediationDescription']}",
                                        "role": "assistant"
                                    }
                                ],
                                "stop": null,
                                "temperature": 0
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://cognitiveservices.azure.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Delay": {
                        "runAfter": {
                            "HTTP_1": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 10,
                                "unit": "Second"
                            }
                        }
                    },
                    "HTTP_3": {
                        "runAfter": {
                            "Delay": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "queries": {
                                "api-version": "2021-03-01"
                            },
                            "body": {
                                "query": "securityresources | where type =~ 'microsoft.security/assessments' | where id =~ '@{triggerBody()?['id']}' | extend riskLevelText = (iff(type == 'microsoft.security/assessments', tostring(properties.risk.level), dynamic(null)))| extend riskLevel = (iff(type == 'microsoft.security/assessments', case(riskLevelText =~ 'Critical', 4,riskLevelText =~ 'High', 3,riskLevelText =~ 'Medium', 2,riskLevelText =~ 'Low', 1, 0), dynamic(null)))"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Condition": {
                        "actions": {
                            "Set_variable_1": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "risklevelresult",
                                    "value": "リスク分析中です。"
                                }
                            }
                        },
                        "runAfter": {
                            "Variable": [
                                "Succeeded"
                            ]
                        },
                        "else": {
                            "actions": {
                                "Set_variable": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "risklevelresult",
                                        "value": "@body('HTTP_3')['data'][0]['riskLevelText']"
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@length(body('HTTP_3')['data'])",
                                        0
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    },
                    "Variable": {
                        "runAfter": {
                            "HTTP_3": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "risklevelresult",
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    "HTTP": {
                    "runAfter": {},
                    "type": "Http",
                    "inputs": {
                        "uri": "@parameters('AOAIURL')",
                        "method": "POST",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": {
                            "frequency_penalty": 2,
                            "max_tokens": 1000,
                            "messages": [
                                {
                                    "content": "You are a Security Analyst.",
                                    "role": "system"
                                },
                                {
                                    "content": "Please tell me the purpose of this recommendation. The explanation must be in Japanese and  format must be html without your comment.",
                                    "role": "user"
                                },
                                {
                                    "content": "@{triggerBody()?['properties']?['metadata']?['description']}",
                                    "role": "assistant"
                                }
                            ],
                            "stop": null,
                            "temperature": 0
                        },
                        "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://cognitiveservices.azure.com"
                        }
                    },
                    "runtimeConfiguration": {
                        "contentTransfer": {
                            "transferMode": "Chunked"
                        }
                    }
                }
            },
        "outputs": {}
    },
    "parameters": {
        "$connections": {
            "value": {
                "Ascassessment": {
                    "connectionId": "[resourceId('Microsoft.Web/connections', variables('AscassessmentConnectionName'))]",
                    "connectionName": "[variables('AscassessmentConnectionName')]",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascassessment')]"
                },
                "office365": {
                    "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                    "connectionName": "[variables('Office365ConnectionName')]",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    }
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
    "hidden-SentinelTemplateName": "Notify-MDC-CSPM-OutlookMail",
    "hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
    "type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
    "[resourceId('Microsoft.Web/connections', variables('AscassessmentConnectionName'))]",
    "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('AscassessmentConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
    "displayName": "[variables('AscassessmentConnectionName')]",
"customParameterValues": {},
"api": {
    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascassessment')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('Office365ConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('Office365ConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
}
}
}
]
}
