logicapps/Notify-Teams-Chat/Notify-Teams-Chat.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Notify-Teams-chat",
            "type": "string"
        },
        "ChatMembers": {
            "type": "String",
            "metadata": {
                "description": "Enter value for ChatMembers"
            }
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "TeamsConnectionName": "[concat('Teams-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                        "defaultValue": {},
                        "type": "Object"
                    },
                    "ChatMembers": {
                        "defaultValue": "[parameters('ChatMembers')]",
                        "type": "String"
                    }
                },
                "triggers": {
                    "Microsoft_Sentinel_incident": {
                        "type": "ApiConnectionWebhook",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "body": {
                                "callback_url": "@{listCallbackUrl()}"
                            },
                            "path": "/incident-creation"
                        }
                    }
                },
                "actions": {
                    "Entity-Account": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                        },
                        "method": "post",
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "path": "/entities/account"
                    }
                },
                "Condition": {
                    "actions": {
                        "Terminate": {
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Cancelled"
                            }
                        }
                    },
                    "runAfter": {
                        "HTTP": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@length(body('HTTP')['userPrincipalName'])",
                                0
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "HTTP": {
                "runAfter": {
                    "Condition-UPN": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users('@{body('Entity-Account')?['Accounts']?[0]?['additionalData']?['UserPrincipalName']}')",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "チャットまたはチャネルでメッセージを投稿する": {
                "runAfter": {
                    "ユーザーの_@mention_トークンを取得する": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['teams-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "recipient": "@body('CreateChat')?['id']",
                        "messageBody": "<p class=\"editor-paragraph\">@{body('ユーザーの_@mention_トークンを取得する')?['atMention']}</p><br><p class=\"editor-paragraph\">セキュリティインシデントを検知しました。</p>"
                    },
                    "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Group chat')}"
                }
            },
            "CreateChat": {
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['teams-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "members": "@{body('Entity-Account')?['Accounts']?[0]?['additionalData']?['UserPrincipalName']}; @{parameters('ChatMembers')}",
                        "topic": "@{triggerBody()?['object']?['properties']?['title']}の検出について"
                    },
                    "path": "/beta/chats"
                }
            },
            "ユーザーの_@mention_トークンを取得する": {
                "runAfter": {
                    "CreateChat": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['teams-1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v1.0/users/@{encodeURIComponent(body('Entity-Account')?['Accounts']?[0]?['additionalData']?['UserPrincipalName'])}"
                }
            },
            "インシデントを更新": {
                "runAfter": {
                    "チャットまたはチャネルでメッセージを投稿する": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "tagsToAdd": {
                            "TagsToAdd": [
                                {
                                    "Tag": "ユーザー確認中"
                                }
                            ]
                        }
                    },
                    "path": "/Incidents"
                }
            },
            "Condition-UPN": {
                "actions": {
                    "Terminate_1": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Cancelled"
                        }
                    }
                },
                "runAfter": {
                    "Entity-Account": [
                        "Succeeded"
                    ]
                },
                "else": {
                "actions": {}
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@empty(body('Entity-Account')?['Accounts']?[0]?['additionalData']?['UserPrincipalName'])",
                            true
                        ]
                    }
                ]
            },
            "type": "If"
        }
    },
"outputs": {}
},
"parameters": {
"$connections": {
    "value": {
        "azuresentinel": {
            "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
            "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
            "connectionProperties": {
                "authentication": {
                    "type": "ManagedServiceIdentity"
                }
            }
        },
        "teams-1": {
            "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
            "connectionName": "[variables('TeamsConnectionName')]",
            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]",
        "connectionProperties": {}
    }
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('TeamsConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('TeamsConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
}
}
}
]
}
